*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(122, 221, 166);
}

.game{
  gap: 50px;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
}

.container{
  font-size: 18px;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.answer{
  width: 150px;
  font-size: 18px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 25px;
  border: 2px solid black;
  background:#ffd9d9;
}

.example{
  font-weight: 700;
}

.check,.restore,.level{
  background: #ffd9d9;
  font-size: 18px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: 700;

}

.check:hover,.restore:hover,.level:hover{
transition: 0.5s;
background: #af8aef;
}

.score-p{
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.score-div{
  margin: 16px 0;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

